@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #E2EBF0, #CFD9DF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #788186a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F27A1A;
    text-align: center;
    text-shadow: 1px 1px 2px #b65c12a5;
}

h2{
    color: #4b6b5f;
}

p {
    text-align: justify;
}